body {
    background-color: #fbfcf9;
}

.brand {
    font-family: 'Tourney', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #ff0000;
}

.main-bg {
    background-color: #474735;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    border-radius: 10px;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #a88f00;
}

.author {
    color: #1d1d1d;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    font-family: 'Koulen';
    background-color: #000000;
    color: #a88f00;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.post-link {
    text-decoration: none;
    color: #dddddd;
}

.post-link:hover,
.page-link {
    color: #ffffff;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #a88f00;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #d4b500;
    background: transparent;
    border: none;
}